@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.search-bar{
    padding: .5rem 1rem;
    width: 80%;
    margin: auto;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;

}
.search-bar:focus{
    outline: none;
    box-shadow: -1px -1px 8px #c0baff;
}
.search-bar-area{
    padding: 2rem 2rem .5rem;
    display: flex;
}


@media (max-width: 767px) {

    .search-bar{
        font-size: .8rem;
    }
    .search-bar-area{
        padding: 2rem 1rem .5rem 
    }
}
@media (max-width: 576px) {
    
    .search-bar{
        font-size: .7rem;
        width: 100%;
    }
    
    
}